<!doctype html>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
  <head th:fragment="head(title)">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title data-th-text="#{${title}}">Title</title>
    <!-- CSS files -->
    <link href="/css/tabler.min.css" rel="stylesheet"/>
    <link href="/css/tabler-flags.min.css" rel="stylesheet"/>
    <link href="/css/tabler-payments.min.css" rel="stylesheet"/>
    <link href="/css/tabler-vendors.min.css" rel="stylesheet"/>
    <link href="/css/main.min.css" rel="stylesheet"/>
    <style>
      @import url('https://rsms.me/inter/inter.css');
      :root {
      	--tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
      }
      body {
      	font-feature-settings: "cv03", "cv04", "cv11";
      }
    </style>
  </head>

  <body >
    <script src="/js/main-theme.min.js"></script>
    <div class="page">

      <!-- Sidebar -->
      <aside class="navbar navbar-vertical navbar-expand-lg" data-bs-theme="dark" th:fragment="sidebar">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar-menu" aria-controls="sidebar-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <h1 class="navbar-brand navbar-brand-autodark">
            <a href=".">
              <img src="/img/logo.svg" width="110" height="32" alt="Tabler" class="navbar-brand-image">
            </a>
          </h1>

          <!-- Main menu -->
          <div class="collapse navbar-collapse" id="sidebar-menu">
            <ul class="navbar-nav pt-lg-3">
              <li class="nav-item active">
                <a class="nav-link" href="./" >
                  <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l-2 0l9 -9l9 9l-2 0" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg>
                  </span>
                  <span class="nav-link-title">
                    Orders
                  </span>
                </a>
              </li>
            </ul>
          </div>

        </div>
      </aside>

      <!-- Navbar -->
      <header class="navbar navbar-expand-md d-none d-lg-flex d-print-none" th:fragment="header">
        <div class="container-xl">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-nav flex-row order-md-last">
            <div class="d-none d-md-flex">
              <a href="?theme=dark" class="nav-link px-0 hide-theme-dark" title="Enable dark mode" data-bs-toggle="tooltip"
		   data-bs-placement="bottom">
                <!-- Download SVG icon from http://tabler-icons.io/i/moon -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z" /></svg>
              </a>
              <a href="?theme=light" class="nav-link px-0 hide-theme-light" title="Enable light mode" data-bs-toggle="tooltip"
		   data-bs-placement="bottom">
                <!-- Download SVG icon from http://tabler-icons.io/i/sun -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" /><path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7" /></svg>
              </a>
              <div class="nav-item dropdown d-none d-md-flex me-3">
                <a href="#" class="nav-link px-0" data-bs-toggle="dropdown" tabindex="-1" aria-label="Show notifications">
                  <!-- Download SVG icon from http://tabler-icons.io/i/bell -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 5a2 2 0 1 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6" /><path d="M9 17v1a3 3 0 0 0 6 0v-1" /></svg>
                  <span class="badge bg-red"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-end dropdown-menu-card">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Last updates</h3>
                    </div>
                    <div class="list-group list-group-flush list-group-hoverable">
                      <div class="list-group-item">
                        <div class="row align-items-center">
                          <div class="col-auto"><span class="status-dot status-dot-animated bg-red d-block"></span></div>
                          <div class="col text-truncate">
                            <a href="#" class="text-body d-block">Example 1</a>
                            <div class="d-block text-muted text-truncate mt-n1">
                              Change deprecated html tags to text decoration classes (#29604)
                            </div>
                          </div>
                          <div class="col-auto">
                            <a href="#" class="list-group-item-actions">
                              <!-- Download SVG icon from http://tabler-icons.io/i/star -->
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" /></svg>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="nav-item dropdown">
              <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
                <span class="avatar avatar-sm" style="background-image: url(/img/avatars/000m.jpg)"></span>
                <div class="d-none d-xl-block ps-2">
                  <div>Sergiy Ponomarenko</div>
                  <div class="mt-1 small text-muted">Java Developer</div>
                </div>
              </a>
              <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <a href="#" class="dropdown-item">Status</a>
                <a href="./profile.html" class="dropdown-item">Profile</a>
                <a href="#" class="dropdown-item">Feedback</a>
                <div class="dropdown-divider"></div>
                <a href="./settings.html" class="dropdown-item">Settings</a>
                <a href="/logout" class="dropdown-item">Logout</a>
              </div>
            </div>
          </div>
          <div class="collapse navbar-collapse" id="navbar-menu">
            <div>
              <form action="./" method="get" autocomplete="off" novalidate>
                <div class="input-icon">
                  <span class="input-icon-addon">
                    <!-- Download SVG icon from http://tabler-icons.io/i/search -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" /><path d="M21 21l-6 -6" /></svg>
                  </span>
                  <input type="text" value="" class="form-control" placeholder="Search…" aria-label="Search in website">
                </div>
              </form>
            </div>
          </div>
        </div>
      </header>

      <div class="page-wrapper">

        <!-- Page header -->
        <div class="page-header d-print-none">

        </div>

        <!-- Page body -->
        <div class="page-body">

        </div>

        <footer class="footer footer-transparent d-print-none" th:fragment="footer">
          <div class="container-xl">
            <div class="row text-center align-items-center flex-row-reverse">
              <div class="col-lg-auto ms-lg-auto">
                <ul class="list-inline list-inline-dots mb-0">
                  <li class="list-inline-item"><a href="https://tabler.io/docs" target="_blank" class="link-secondary" rel="noopener">Documentation</a></li>
                  <li class="list-inline-item"><a href="./license.html" class="link-secondary">License</a></li>
                  <li class="list-inline-item"><a href="https://github.com/tabler/tabler" target="_blank" class="link-secondary" rel="noopener">Source code</a></li>
                  <li class="list-inline-item">
                    <a href="https://github.com/sponsors/codecalm" target="_blank" class="link-secondary" rel="noopener">
                      <!-- Download SVG icon from http://tabler-icons.io/i/heart -->
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon text-pink icon-filled icon-inline" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" /></svg>
                      Sponsor
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                <ul class="list-inline list-inline-dots mb-0">
                  <li class="list-inline-item">
                    Copyright &copy; 2023
                    <a href="." class="link-secondary">Procura</a>.
                    All rights reserved.
                  </li>
                  <li class="list-inline-item">
                    <a href="./changelog.html" class="link-secondary" rel="noopener">
                      v1.0.0-beta19
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </footer>

        <!-- Sortale column header -->
        <th:block th:fragment="colHeader(colName, colText)">
          <th:block th:if="${sortBy == colName}">
            <a th:if="${sortDirection == 'ASC'}" href="#" th:onclick="sortBy([[ ${colName} ]],'DESC')" th:text="${colText}">ID</a>
            <a th:if="${sortDirection == 'DESC'}" href="#" th:onclick="sortBy([[ ${colName} ]],'ASC')" th:text="${colText}">ID</a>
            <svg th:if="${sortDirection == 'ASC'}" xmlns="http://www.w3.org/2000/svg" class="icon icon-sm icon-thick" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 15l6 -6l6 6" /></svg>
            <svg th:if="${sortDirection == 'DESC'}" xmlns="http://www.w3.org/2000/svg" class="icon icon-sm icon-thick" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M6 9l6 6l6 -6"></path>
            </svg>
          </th:block>
          <a th:if="${sortBy != colName}" href="#" th:onclick="sortBy([[ ${colName} ]],'ASC')" th:text="${colText}">ID</a>
        </th:block>

        <!-- Paginator -->
        <div class="card-footer d-flex align-items-center" th:fragment="pagination">
          <p class="m-0 text-muted">Showing <span th:text="${T(java.lang.Math).min((currentPage - 1) * size + 1, totalItems)}">1</span> to
            <span th:text="${T(java.lang.Math).min(currentPage * size, totalItems)}">8</span> of <span th:text="${totalItems}"></span> entries</p>

          <ul class="pagination m-0 ms-auto" th:with="numVisiblePages=${numVisiblePages}">

            <!--prev page-->
            <li class="page-item" th:classappend="${currentPage} == 1 ? 'disabled'">
              <a class="page-link" href="#" th:onclick="@{'changePage(' + ${currentPage - 1} + ')'}" tabindex="-1" aria-disabled="true">
                <!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 6l-6 6l6 6" /></svg>
                prev
              </a>
            </li>

            <!--1 st page-->
            <li class="page-item" th:classappend="${currentPage} == 1 ? 'active'">
              <a class="page-link" href="#" th:onclick="@{'changePage(1)'}">1</a>
            </li>

            <li th:if="${currentPage > 2 + numVisiblePages}" class="page-item">
              ...
            </li>

            <th:block th:if="${totalPages > 1}">
              <th:block th:each="i: ${#numbers.sequence(
                            T(java.lang.Math).max(currentPage - numVisiblePages, 2),
                            T(java.lang.Math).min(currentPage + numVisiblePages, totalPages - 1),
                            1)}">
                <li class="page-item" th:classappend="${currentPage} == ${i} ? 'active'">
                  <a class="page-link" href="#" th:onclick="@{'changePage(' + ${i} + ')'}">
                    [[${i}]]
                  </a>
                </li>
              </th:block>
            </th:block>

            <li th:if="${currentPage < totalPages - numVisiblePages - 1}" class="page-item">
              ...
            </li>

            <!--last page-->
            <li th:if="${totalPages > 1}"
                class="page-item" th:classappend="${currentPage == totalPages} ? 'active'">
              <a class="page-link" href="#" th:onclick="@{'changePage(' + ${totalPages} + ')'}">[[${totalPages}]]</a>
            </li>

            <!--next page-->
            <li class="page-item" th:classappend="${currentPage} == ${totalPages} ? 'disabled'">
              <a class="page-link" href="#" th:onclick="@{'changePage(' + ${currentPage + 1} + ')'}">
                next <!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>
              </a>
            </li>

          </ul>
          <input type="hidden" id="page" name="page" th:value="${currentPage}"/>
          <input type="hidden" id="sortBy" name="sortBy" th:value="${sortBy}"/>
          <input type="hidden" id="sortDirection" name="sortDirection" th:value="${sortDirection}"/>

          <script>
            function changePage(page) {
              document.getElementById("page").value = page;
              document.getElementById("form").submit();
            }
            function sortBy(by, direction) {
              document.getElementById("sortBy").value = by;
              document.getElementById("sortDirection").value = direction;
              changePage(1);
            }
          </script>
        </div>

        <!-- Modal Delete confirmation -->
        <div th:fragment="modalDelete(title, message, path)" class="modal modal-blur fade" id="modal-delete" tabindex="-1" style="display: none;" aria-hidden="true">
          <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <div class="modal-title">[[ ${title} ]]</div>
                <div>[[ ${message} ]]</div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-link link-secondary me-auto" data-bs-dismiss="modal">Cancel</button>
                <a id="deleteConfirmLink" th:href="${path}" class="btn btn-danger">Delete</a>
              </div>
            </div>
          </div>
          <script>
            document.getElementById('modal-delete').addEventListener('show.bs.modal', function(e) {
              document.getElementById('deleteConfirmLink').href =
                "[[ ${path} ]]" + e.relatedTarget.dataset.id;
            });
          </script>
        </div>

      </div>
    </div>

    <!-- Libs JS -->
    <script src="/libs/apexcharts/dist/apexcharts.min.js" defer></script>
    <script src="/libs/jsvectormap/dist/js/jsvectormap.min.js" defer></script>
    <script src="/libs/jsvectormap/dist/maps/world.js" defer></script>
    <script src="/libs/jsvectormap/dist/maps/world-merc.js" defer></script>
    <!-- Tabler Core -->
    <script src="/js/tabler.min.js" defer></script>
    <script src="/js/demo.min.js" defer></script>


  </body>
</html>