<!doctype html>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
  <head th:replace="~{fragments/fragments :: head(title='orders.title')}">
    ...
  </head>
  <body >
    <script src="/js/main-theme.min.js"></script>
    <div class="page">

      <!-- Sidebar -->
      <aside th:replace="~{fragments/fragments :: sidebar}">
        ...
      </aside>

      <!-- Navbar -->
      <header th:replace="~{fragments/fragments :: header}">
        ...
      </header>
      <div class="page-wrapper">


        <!-- Page header -->
        <div class="page-header d-print-none">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                  Overview
                </div>
                <h2 class="page-title">
                  Orders
                </h2>
              </div>
              <!-- Page title actions -->
              <div class="col-auto ms-auto d-print-none">
                <div class="btn-list">
                  <a href="/orders/new" class="btn btn-primary d-none d-sm-inline-block">
                    <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                    Create new order
                  </a>
                  <a href="/orders/new" class="btn btn-primary d-sm-none btn-icon" data-bs-toggle="modal" data-bs-target="#modal-report" aria-label="Create new order">
                    <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>


        <!-- Page body -->
        <div class="page-body">
          <div class="container-xl">
            <div class="row row-deck row-cards">
              <div class="col-12">
                <form id="form" class="card" th:action="@{/orders}" method="get">
                  <div class="card-header">
                    <h3 class="card-title">Orders</h3>
                  </div>
                  <div class="card-body border-bottom py-3">
                    <div class="d-flex">
                      <div class="text-muted">
                        Show
                        <div class="mx-2 d-inline-block">
                          <input type="text" class="form-control form-control-sm" name="size" th:value="${size}" size="4" aria-label="Orders count"
                                 onchange="changePage(1)">
                        </div>
                        entries
                      </div>
                      <div class="ms-auto text-muted">
                        Search:
                        <div class="ms-2 d-inline-block">
                          <input type="text" name="find" th:value="${find}" class="form-control form-control-sm" aria-label="Search..."
                                 onchange="changePage(1)">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="table-responsive">
                    <table class="table card-table table-vcenter text-nowrap datatable">
                      <thead>
                        <tr>
                          <th class="w-1"><input class="form-check-input m-0 align-middle" type="checkbox" aria-label="Select all orders"></th>
                          <th class="w-1"><th:block th:replace="~{fragments/fragments :: colHeader(colName='id', colText='ID')}" /></th>
                          <th class="w-1"><th:block th:replace="~{fragments/fragments :: colHeader(colName='internalId', colText='Internal ID')}" /></th>
                          <th><th:block th:replace="~{fragments/fragments :: colHeader(colName='name', colText='Name')}" /></th>
                          <th><th:block th:replace="~{fragments/fragments :: colHeader(colName='clientName', colText='Client name')}" /></th>
                          <th><th:block th:replace="~{fragments/fragments :: colHeader(colName='price', colText='Price')}" /></th>
                          <th><th:block th:replace="~{fragments/fragments :: colHeader(colName='finishDate', colText='Finish date')}" /></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="order: ${orders}">
                          <td><input class="form-check-input m-0 align-middle" type="checkbox" aria-label="Select order"></td>
                          <td><span class="text-muted" th:text="${order.id}"></span></td>
                          <td th:text="${order.internalId}"></td>
                          <td th:text="${order.name}"></td>
                          <td th:text="${order.clientName}"></td>
                          <td th:text="${order.price}"></td>
                          <td th:text="${order.finishDate}"></td>
                          <td class="text-end">
                            <span class="dropdown">
                              <button class="btn dropdown-toggle align-text-top" data-bs-boundary="viewport" data-bs-toggle="dropdown">Actions</button>
                              <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" th:href="@{/orders/edit/{id}(id=${order.id})}">
                                  Edit
                                </a>
                                <a href="#" class="dropdown-item" th:data-id="${order.id}" data-bs-toggle="modal" data-bs-target="#modal-delete">
                                  Delete
                                </a>
                              </div>
                            </span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div th:replace="~{fragments/fragments :: pagination}" />

                </form>
              </div>
            </div>
          </div>
        </div>


        <footer th:replace="~{fragments/fragments :: footer}">
          ...
        </footer>
      </div>
    </div>

    <div th:replace="~{fragments/fragments :: modalDelete('Are you sure?', 'Do you really want to delete the order?', 'orders/delete/')}" />

    <!-- Libs JS -->

    <!-- Tabler Core -->
    <script src="/js/tabler.min.js" defer></script>
    <script src="/js/main.min.js" defer></script>
  </body>
</html>